<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
<span class="rst-current-version" data-toggle="rst-current-version">
  <span class="fa fa-book"> Versions</span>
  v: {{release|e}}
  <span class="fa fa-caret-down"></span>
</span>
<div class="rst-other-versions">
  <dl class="versions">
    <dt>Versions</dt>
    <dd><a href="#" class="current">{{release|e}}</a></dd>
  </dl>
</div>
</div>